body{
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
*{
    box-sizing: border-box;
}
 .bennar{
    height:60px ;
    width:100% ;
    background-color: rgb(51, 255, 78);
    display: flex;
    align-items: center;
    justify-content: center;
 }

.main-0{
    width:80vw;
    height:4000px;
     background-image:linear-gradient(70deg, rgb(20, 112, 250),rgb(0, 15, 219),rgb(0, 15, 97));
position: relative;
    }

.main-1{
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-1 .link ul{
    list-style: none;
}
.main-1 .link>ul{
    display: flex;
    gap: 10px;
}
.main-1 .link ul li:hover{
    background-image: linear-gradient(to top left, rgb(3, 1, 146),rgb(35, 19, 250),rgb(0, 255, 242));
position: relative;

}

.main-1 .link ul li{
height: 30px;
width:80px;
background-color: darkslategray;
border: 1px solid rgb(250, 190, 79);
line-height: 30px;
border-radius: 6px;
text-align: center;
}
.main-1 .link ul li>ul{
    display: none;
}
.main-1 .link ul li:hover ul{
    display: block;
}

.main-1 .link ul li,a {
    text-decoration: none;
color: aliceblue;
}
.main-1 .search {
height: fit-content;
width: fit-content;
position: relative; 
}
.main-1 .search input{
height: 30px;
width:250px;
border: 1px cadetblue !important;
padding-right: 30px;
padding-left: 15px;
border-radius: 20px;
outline: none !important;
box-shadow:inset  2px 2px 14px rgb(180, 180, 180), -2px -2px 14px rgb(255, 253, 253) ;
} 
 .search img{
height: 20px;
width: 20px;
position: absolute;
right: 10px;
top: 5px;
}


.main-2{
    height: 400px;
    width: 80%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.main-2 img{
   object-fit: cover;
   height: 100%;
   width: 100%;
}
.main-2 img:hover{
    transition: all ease-out 1s;
    transform: scale(1.1);
}

.main-3{
    height:fit-content;
    margin-top: 20px;
    padding: 10px;
    width: 100-1.5%;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: background-color ;
    border-left: 11px solid aqua;
    text-align: center;
    border-radius: 10px;
}
@keyframes background-color {
    0%{
        background-color: rgb(0, 0, 0);
    }
    20%{
        background-color: rgb(42, 253, 0);
    }
    40%{
        background-color: rgb(255, 0, 0);
    }
    60%{
        background-color:rgb(49, 3, 255) ;
    }
    80%{
        background-color: rgb(24, 218, 6);
    }
    100%{
        background-color: rgb(91, 235, 103);
    }
}
.main-3 *{
margin: 0;
color: aliceblue;
text-shadow: 0 0 10px black;
font-family:monospace;
}
.main-3 h1{
font-size: 40px;
}
.main-3 h2{
    font-size: 40px;
}
.main-4{
    margin-top: 30px;
    width: 100%;
    height: fit-content;
}
header{
    height: 60px;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.Weather-logo-1 {
    height:60px;
    width: fit-content;
    display: flex;
    align-items: center;
}
.Weather-logo-1 *{
    display: inline;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: blue;
}

.check-2-iocn{
    display: none;
}
.Weather-icon-1 ul{
display: flex;
gap: 20px;
list-style: none;
padding: 0px;
margin: 0;
}

.Weather-icon-1 ul a{
    display: flex;
    align-items: center;
    justify-content: center;
background-color: rgb(3, 29, 100);
text-align: center;
text-decoration: none;
height: 30px;
width: 70px;
border-radius: 5px;
}
.Weather-icon-1 ul a:hover{
    background-image: linear-gradient(to top left, rgb(0, 138, 0),rgb(0, 124, 52),rgb(0, 82, 41));
color: azure;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
.taim-content-1{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 500px;
    width: 60%;
    padding: 10px;
    box-shadow: 0 0 15px white;
    border-radius: 10px;
    background: linear-gradient( var(--angle),rgb(255, 255, 255) ,rgb(188, 255, 186) ,rgb(173, 191, 252));
animation-name: background-color-1;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes background-color-1 {
    from { --angle: 0deg;}
    to { --angle: 360deg;}
}


.taim-content-2{
    height: fit-content;
    width:100%;
position:relative;
}
.taim-content-2 input{
    height: 40px;
    width: 100%;
    outline: none !important;
border:  none !important;
border-radius: 30px;
padding-left: 40px;
padding-right: 50px;
box-shadow: 5px 5px 14px rgb(187, 187, 187),-5px -5px 14px rgb(255, 255, 255) ;
}
.taim-content-2 input:hover{
box-shadow:inset 5px 5px 14px rgb(187, 187, 187),inset -5px -5px 14px rgb(255, 255, 255) ;
}
.taim-content-2 i{
position: absolute;
right: 10px;
top:5px;
font-size: 30px;
color: blue;
}
.taim-content-2 img{
position: absolute;
left:15px;
top:12px;
height:20px;
}

.taim-content-3 {
    height: fit-content;
    width: 100%;
}

.taim-content-3 ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.taim-content-3 a{
    text-decoration: none;
    background-color: blue;
    color: aliceblue;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.taim-content-4{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.329);
    padding: 20px;
    box-sizing: border-box;
   display: flex;
   flex-direction: column;
}
.taim-content-4 #Weather-text-1{
    font-size: 30px;
    font-family:sans-serif;
    font-weight: bold;
    
}
        .taim-content-4 #Weather-text-5{
            font-size: 15px;
             margin: 0;
             color: rgb(70, 68, 68);
      }


.taim-content-4 #Weather-text-2 {
    font-size: 80px;
    font-weight: bold;
    margin-left:20px;
    color: gold;
}
.Weather-text-align-1{
   display:flex;
   justify-content:space-between;
   margin:0;
}
.taim-content-4 p{
    margin: 0;
    color: blue;
    font-weight: bold;
    font-size: x-large;
} 

#Weather-text-3{
    font-size: 70px;
    font-family: monospace;
    font-weight: bold;
}
#Weather-text-4{
    font-size: 50px;
    font-family: monospace;
    color: rgb(105, 105, 105);
}

.Weather-text-aling-3{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid ;
    align-items: center;
 margin-top: auto; 
}
.Weather-text-section-1 i:first-child {
color: blue;
font-size: 40px;
margin-right: 15px;
}
.Weather-text-section-2 i:first-child {
color: blue;
font-size: 40px;
margin-right:15px;
}

.Weather-text-section-1{
display: flex;
align-items: center;
}
.Weather-text-section-2{
display: flex;
align-items: center;
}
.Weather-text-section-1 div{
    display: flex;
    flex-direction: column;
}
.Weather-text-section-2 div{
    display: flex;
    flex-direction: column;
}

.Weather-text-section-1 div span:first-child{
    color: rgb(119, 119, 119);
    font-weight: bold;
}
.Weather-text-section-1 div span:last-child{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}
.Weather-text-section-2 div span:first-child{
    color: rgb(119, 119, 119);
    font-weight: bold;
}
.Weather-text-section-2 div span:last-child{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.futter-taime-1{
    height: 200px;
    width: 100%;
    background-color:antiquewhite;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.futter-taime-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
width: 100%;
border-bottom: 1px solid rgb(68, 68, 68);
}

.futter-items-2{
display: flex;
flex-direction: column;
margin-top: 10px;
}
.futter-items-2 a{
    text-decoration: none;
    color: rgb(97, 97, 97);
}

.second-dutter-1{
    height: 30%;
    width: 100%;
    text-align: center;
    font-family:inherit;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-dutter-1 p{
    margin: 0;
}
    @property  --mahbuba{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
.main-5{
    background: linear-gradient( var(--mahbuba),rgba(15, 95, 160, 0.4),rgba(86, 114, 22, 0.4),rgba(39, 7, 128, 0.582)),url(https://i.pinimg.com/1200x/6f/c9/fb/6fc9fbf0d3dd234ceaef080b717171d0.jpg);
    -webkit-backdrop-filter: blur(80px);
backdrop-filter: blur(80px);
background-size: cover;
    width: 100%;
    height: 1100px;
    margin-top: 50px;
    animation-name: background-color-2;
    animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}


@keyframes background-color-2 {
    from { --mahbuba: 0deg;}
    to{ --mahbuba: 360deg;}
}
 
 .header-2{
    height: 60px;
    width: 100%;
    background-color: rgb(0, 255, 76);
display: flex;
align-items: center;

 }

 .saiderdoyer{
  background-color: rgba(87, 87, 87, 0.945);
  border-left: 1px solid rgba(255, 255, 255,0.5);
  width: 300px;
  height: 98%;
  display: flex;
  flex-direction: column;
  position: fixed;
 display: none;
 border-bottom-right-radius: 100px;
 border-bottom: 2px solid white;
 z-index: 9999;
  
 }
 
.header-2:has(#check:checked) ~.saiderdoyer{
    display: block;
}
#check{
    display: none;
}

#check:checked ~.check-icon-1 {
   visibility: hidden; 
}



.check-icon-1 i{
    font-size: 25px;
    color: rgb(0, 26, 255);
    background-color: azure;
    outline: 8px solid white;
    border-radius: 10px;
  margin-left: 20px;
   transition:all 0.2s linear;
    cursor: pointer;
}
.check-icon-2 i{
     cursor: pointer;
    font-size: 35px;
    color: rgb(0, 26, 255);
position: absolute;
right: 10px;
top: 20px;
}

.saiderdoyer-seif{
    background-color: rgb(216, 255, 215);
height: 250px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}

.saiderdoyer-seif img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    outline: 1px solid rgb(52, 121, 75);
margin-top: 20px !important;
}
.saiderdoyer-seif *{
    margin: 7px;
    font-family: sans-serif;
}

.saiderdoyer ul{
list-style: none;
width: 300px;
height: auto;
box-sizing: border-box;
margin: 0;
padding: 0;
}
.saiderdoyer ul li a{
font-size: 25px;
text-decoration: none;
color: bisque;
    
}
.saiderdoyer ul li{
    padding: 23px 5px;
}
.saiderdoyer ul li:hover{
    box-shadow: 0 0 14px rgba(255, 254, 254, 0.568);
    border-right: 2px solid rgba(255, 255, 255, 0.753);
}
.saiderdoyer ul li i{
    font-size:25px;
    color: rgba(255, 255, 255, 0.925);
  margin-right: 10px;
}

.saiderdoyer-seif-media{
height: fit-content;
    width: 100%;
}

.saiderdoyer-seif-media i{
    font-size: 30px;
    color: white;
    padding:30px;
}
.saiderdoyer-seif-media h1{
    margin-left: 10px;
    color: rgb(150, 150, 150);
}


.saiderdoyer-seif-media i:hover{
color: rgb(70, 70, 243);
text-shadow: 0 0 14px white;
}







.main-5-content-1{
height: 83.4%;
width: 100%;

}
.main-5-content--text-and-img{
    width: 100%;
    height: fit-content;
    display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 50px;
padding: 20px;
}
.main-5-content-text{
    display: flex;
    flex-direction: column;
    display: inline;
}
.main-5-content-text p:first-child{
    font-size: 20px;
    color: aquamarine;
    background-color: blue;
    display: inline;
    padding: 10px;
    border-radius: 10px;
border-left: 3px solid red;
}
.main-5-content-text p:first-child:hover{
color: rgb(255, 255, 255);
background-color: rgb(255, 0, 0);
border-left: 3px solid rgb(0, 17, 255);
}
.main-5-content-text span{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
}
.main-5-content-text span span{ 
background-image:linear-gradient(rgb(140, 245, 3),rgb(0, 225, 255),rgb(4, 0, 255));
background-clip: text;
-webkit-text-fill-color: transparent;
}
.main-5-content-text h2{
  color: aliceblue;
  font-weight: bold;
}

.main-5-content-text p:last-of-type{
    color: chartreuse;
}




.main-5-content-img{
    height: 480px;
    width: 330px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    background-size: cover;
    box-shadow: 0 0 15px black ;
    animation-name: love-img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.main-5-content-img img{
    height: 500px;
    width: 340px;
}
@keyframes love-img {
    0%{
        transform: translate(20px);
    }
   50%{
        transform: translate(-20px);
    }
   100%{
        transform: translate(20px);
    }
}




.footer-nev{
    height: 108px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(107, 43, 226, 0.993);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
